body{
	margin: 0;
	background: #F3F3F3;
}

.header{
	width: 100%;
	background: #fff;
	position: relative;
}

.header img{
	width: 94%;
	height: 1.4rem;
	margin-top: 0.2rem;
	margin-left: 3%;
	border-radius: 0.1rem;
}

.guanli{
	width: 94%;
	height: 1.4rem;
	border-radius: 0.1rem;
	position: absolute;
	top: 0.2rem;
	left: 3%;
	display: flex;
	flex-direction: column;
}

.guanliLeft{
	display: flex;
	align-items: center;
}

.price{
	font-size: 0.36rem;
	color: #D3D0B1;
	padding-top: 0.25rem;
	padding-left: 0.4rem;
}

.leijitixian{
	font-size: 0.24rem;
	color: #D3D0B1;
	padding-top: 0.1rem;
	padding-left: 0.4rem;
}

.duoshaotixian{
	position: absolute;
	right: 0.4rem;
	font-size: 0.24rem;
	color: #D3D0B1;
}

.center{
	width: 100%;
	height: 0.9rem;
	display: flex;
	align-items: center;
}

.centerLeft{
	width: 1.8rem;
	height: 0.5rem;
	display: flex;
	background: #fff;
	border-radius: 0.25rem;
	margin-left: 0.2rem;
	align-items: center;
	justify-content: center;
}

.time{
	font-size: 0.22rem;
	color: #5F5F5F;
}

.centerLeft img{
	width: 0.15rem;
	height: 0.1rem;
	margin-left: 0.05rem;
}

.centerRight{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0.3rem;
}

.shaixuan{
	font-size: 0.24rem;
	color: #5A5A5A;
}

.centerRight img{
	width: 0.25rem;
	height: 0.25rem;
}

.bottom{
	width: 100%;
	background: #fff;
}

.bottomTop{
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	border-bottom: 1px solid #EAEAEA;
	display: flex;
}

.tixianItem{
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tianxianName{
	font-size: 0.22rem;
	color: #555555;
}

.active>.tianxianName{
	color: #000;
	border-bottom: 2px solid #000;
}
