body{
	margin: 0;
	background: #F3F3F3;
}

.dailidengji{
	width: 100%;
	height: 0.9rem;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	position: relative;
}

.dengji{
	font-size: 0.24rem;
	color: #333333;
	padding-left: 0.2rem;
}

.cxchoose{
	font-size: 0.24rem;
	color: #C3AF97;
	background: #000000;
	padding: 0.13rem 0.3rem;
	border-radius: 0.3rem;
	position: absolute;
	right: 0.2rem;
}


.mealItem{
	width: 100%;
	background: #FFFFFF;
	display: flex;
	position: relative;
}

.mealItem img{
	width: 1.4rem;
	height: 1.4rem;
	margin: 0.15rem;
}

.name_price_choose{
	display: flex;
	flex-direction: column;
}

.name{
	font-size: 0.24rem;
	color: #333333;
	margin-top: 0.15rem;
}

.price_choose{
	display: flex;
	margin-top: 0.6rem;
}

.price{
	font-size: 0.26rem;
	color: red;
}

.choose{
	font-size: 0.24rem;
	color: #FFFFFF;
	padding: 0.06rem 0.3rem;
	background: #24BA76;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0.2rem;
}

.bottom{
	width: 100%;
	height: 0.8rem;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	box-shadow: 0 -5px 6px #EEEEEE;
	display: flex;
	align-items: center;
}

.jine{
	font-size: 0.24rem;
	color: #333333;
	font-weight: bold;
	padding-left: 0.15rem;
}

.jine b{
	color: red;
	font-weight: normal;
	padding-left: 0.1rem;
}

.right{
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
}

.dabiao{
	font-size: 0.2rem;
	color: #959595;
	padding-right: 0.1rem;
}

.right button{
	font-size: 0.24rem;
	color: #FFFFFF;
	background: #95DEC0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.8rem;
	height: 0.8rem;
	border: 0;
}

.mealItema{
	display: flex;
	justify-content: center;
	padding-top: 0.2rem;
}

.all{
	font-size: 0.22rem;
	color: #333333;
	text-align: center;
}
