body{
	margin: 0;
	background: #F4F2F5;
	height: 100%;
}

.header{
	width: 100%;
	background: #fff;
}

.header:last-child{
	margin-top: 0.15rem;
}

.headerItem{
	display: flex;
	width: 98%;
	margin-left: 2%;
	background: #fff;
	height: 0.8rem;
	align-items: center;
	border-bottom: 1px solid #EFEFEF;
	position: relative;
}

.headerTitle{
	font-size: 0.22rem;
}

.headerName{
	font-size: 0.2rem;
	color: #989898;
	position: absolute;
	right: 0.5rem;
}

.right{
	width: 8px;
	height: 8px;
	border-top: 1.5px solid #989898;
	border-right: 1.5px solid #989898;
	transform: rotate(45deg);
	position: absolute;
	right: 0.3rem;
}

.headerItem img{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	position: absolute;
	right: 0.5rem;
}

.header:nth-child(2){
	margin-top: 0.15rem;
}

.headerItem:last-child{
	border: 0;
}

.headerItem a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	color: #333333;
	text-decoration: none;
}

#login{
    display:none;
    background:white;
    width:70%;
    margin-left: 15%;
    height:2.5rem;
    position:absolute;
    top:50%;
    margin-top:-125px;
    z-index: 100;
    border-radius: 0.15rem;
}

#login input{
	width: 80%;
	height: 0.5rem;
	margin-left: 7%;
	position: relative;
	border: 1px solid #DDDDDD;
	font-size: 0.22rem;
}

#mask{
    display:none;
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    position:fixed;
    z-index: 10;
}

.quxiao_quding{
	width: 100%;
	height: 0.75rem;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	border-bottom-left-radius: 0.15rem;
	border-bottom-right-radius: 0.15rem;
	border-top: 1px solid #E4E4E4;
}

.quxiao_quding .asd{
	width: 50%;
	height: 100%;
	text-align: center;
	font-size: 0.28rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quxiao_quding .asd:first-child{
	border-right: 1px solid #E4E4E4;
}

input{
    outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	-webkit-user-select: text ;
	outline-color: transparent ;
	box-shadow: none;
}

.queding{
	color: #3D74D8;
}

.btn-2 {
	display: block;
	width: 100%;
	height: 100%;
	background: url(imgs/borderlands_tiny_tina.jpg) center no-repeat;
	background-size: 30px;
	position: absolute;
	top: 0px;
}

.btn-2 input {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	opacity: 0;
}